<div class="hdsmi-template hdsmi-template--[template]">
	<div class="hdsmi-template__inner">
		<div class="hdsmi-template__text">

			<span class="hdsmi-template__title"><span class="hdsmi-template__title__inner" data-input="ssi_wpjm_title_placeholder_text">[post:post_title]</span></span>

			<span class="hdsmi-template__location"><span class="hdsmi-template__location__inner" data-input="ssi_wpjm_location_placeholder_text">[meta:_job_location]</span></span>

			<span class="hdsmi-template__salary"><span class="hdsmi-template__salary__inner" data-input="ssi_wpjm_salary_placeholder_text">[meta:_job_salary]</span></span>

		</div>
		<img class="hdsmi-template__image" src="[image]" />
		<img class="hdsmi-template__logo" src="[logo]" />
	</div>
</div>